* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #0f1011;
    color: white;
}

/* Slider */
.slider-container {
    margin: 0 auto;
}

.slider-image {
    max-height: 500px;
    width: 100%;
    object-fit: cover;
}

/* Estilo para el footer
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  } */
  

.activo {
    color: #FFFFFF;
    text-decoration:none;
    margin: 10px;
}

.activo:link {
    color: #FFFFFF;
    text-decoration:none;
    margin: 10px;
}

.activo:hover {
    color: #FFFFFF;
    background: #333333;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FFFFFF 0px 0px 20px, #FFFFFF 0px 0px 30px, #FFFFFF 0px 0px 40px, #FF2D95 0px 0px 50px, #FFFFFF 0px 0px 75px;
    color: #FFFFFF;
    background: #333333;
    text-decoration:none;
    margin: 10px;
  }

  .noactivo:hover {
    color:white;
    text-decoration:none;
    margin: 10px;
  }
